<div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">mL</h1>

        </div>
        <h3>Sign Up with makerLink</h3>
        <p><%= flash[:errors].join("<br>").html_safe if flash[:errors] %></p>
        <form class="m-t" role="form" action="<%= users_url %>" method="POST">
            <%= auth_token_input %>
            <div class="form-group">
                <input type="text" name="user[first_name]" class="form-control" placeholder="First Name" required="">
            </div>
            <div class="form-group">
                <input type="text" name="user[last_name]" class="form-control" placeholder="Last Name" required="">
            </div>
            <div class="form-group">
                <input type="email" name="user[email]" class="form-control" placeholder="Email" required="">
            </div>
            <div class="form-group">
                <input type="password" name="user[password]" class="form-control" placeholder="Password" required="">
            </div>
            <div class="form-group">
                <input type="mobile" name="user[mobile]" class="form-control" placeholder="(505) 050-5050" required="">
            </div>
            <div class="form-group">
                <div class="checkbox"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Register</button>

            <p class="text-muted text-center"><small>Already have an account?</small></p>
            <a href="<%= url_for :controller => 'sessions', :action => 'new' %>">Log In</a>
        </form>
        <p class="m-t"> <small>makerLink &copy; 2016</small> </p>
    </div>
</div>
